img {
    max-width: 500px; 
    height: auto; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin-bottom: 16px;
}

.fondo-paisley {
  /* 1. Usar la variable CSS de Ionic para el fondo */
  --background: url('/assets/images/paisley.jpg') no-repeat center center / cover;
  
  /* 2. Propiedades de CSS tradicionales (opcional si ya usaste la variable) */
  background-image: url('/assets/images/paisley.jpg'); 
  background-size: cover;
  background-position: center;
}

ion-list {
  border-radius: 30px;
}

.input-titulo {
  --color: var(--ion-text-color); // Usa el color depende del modo
  font-weight: 900;
  font-style: italic;
  font-size: 1.5rem; // Tamaño similar a un h1
  text-align: center;
  
  // Para centrar el texto dentro del input de Ionic
  input {
    text-align: center !important;
  }
}

.input-text {
  --color:  var(--ion-text-color);
  font-style: italic;
  filter: brightness(65%);
}

ion-badge {
  transition: transform 0.2s ease;
  &:active {
    transform: scale(0.9); // Efecto de pulsación
  }
}

.botonGuardar {
  --color:  var(--ion-text-color);
  font-style: italic;
  border-radius: 100px;
  font-size: 25px;
}