<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Este botón gestiona la navegación 'atrás' automáticamente -->
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Galería de guitarras V1.0</h2>
  <p>Desarrollado por Yoël Gómez Benítez - Módulo de Desarrollo de Aplicaciones Híbridas</p>
  <p>2º - DAW</p>
  <img src="assets/images/miCara.jpg" alt="Foto de mi cara">
</ion-content>
