// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  // Variables Base para el MODO CLARO
  
  // Fondo y Texto
  --ion-background-color: #ffffff; // Fondo CLARO
  --ion-text-color: #000000;       // Texto OSCURO
  --ion-toolbar-background: #ffffff; // Fondo de Toolbar CLARO

  // Definimos la fuente
  --ion-font-family: "Playfair Display", serif;

  // Color primario: dorado 
  --ion-color-primary: #d4af37;
  --ion-color-primary-rgb: 212, 175, 55;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #b8962f;
  --ion-color-primary-tint: #d9b84a;

  // Color secundario: marrón
  --ion-color-secondary: #86461ec0;
  --ion-color-secondary-rgb: 134, 70, 30; // Ajustado RGB a #86461e
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #743e18c0; // Versión más oscura
  --ion-color-secondary-tint: #9e5022c0; // Versión más clara
}

// ----------------------------------------------------
// Estilos para el MODO OSCURO
// El selector body.dark aplica estas variables cuando el body tiene la clase 'dark'
// ----------------------------------------------------
body.dark {
  // Variables Específicas para el MODO OSCURO
  
  // Fondo y Texto
  --ion-background-color: #121212; // Fondo OSCURO (típico)
  --ion-text-color: #ffffff;       // Texto CLARO
  --ion-toolbar-background: #1e1e1e; // Fondo de Toolbar OSCURO

  // Definimos la fuente (la misma, pero la redefinimos por si acaso)
  --ion-font-family: "Playfair Display", serif;

  // Color primario: dorado 
  --ion-color-primary: #d4af37;
  --ion-color-primary-rgb: 212, 175, 55;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #b8962f;
  --ion-color-primary-tint: #d9b84a;

  // Color secundario: marrón
  --ion-color-secondary: #86461ec0;
  --ion-color-secondary-rgb: 134, 70, 30; // Ajustado RGB a #86461e
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #743e18c0; // Versión más oscura
  --ion-color-secondary-tint: #9e5022c0; // Versión más clara
  --ion-card-title: #ffffff;
}


ion-title, h1, h2, h3, h4, h5, h6, ion-card-title {
  font-weight: 900; 
  font-style: italic;
}

.derecha {
  text-align: right;
}