<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Galería de Guitarras</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="navegarAAbout()" routerDirection="forward">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="navegarASettings()" routerDirection="forward">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">

  <h1 style="text-align: center;">{{ saludo }}</h1>

  <div class="contenedor-filtros ion-padding">
    <ion-row class="ion-align-items-center barra-busqueda-pro">
      <ion-col size="8">
        <ion-searchbar placeholder="Buscar modelo..." (ionInput)="buscar($event)" debounce="500" class="buscador-limpio"
          mode="ios">
        </ion-searchbar>
      </ion-col>

      <ion-col size="4">
        <ion-item lines="none" class="selector-orden-pro">
          <ion-icon name="swap-vertical-outline" slot="start" color="secondary"></ion-icon>
          <ion-select label-placement="stacked" interface="popover" value="id" (ionChange)="cambiarOrden($event)"
            toggleIcon="chevron-down-outline">
            <ion-select-option value="id">Original</ion-select-option>
            <ion-select-option value="nombre-asc">A-Z</ion-select-option>
            <ion-select-option value="nombre-desc">Z-A</ion-select-option>
            <ion-select-option value="anio-desc">Nuevas</ion-select-option>
            <ion-select-option value="anio-asc">Antiguas</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid #profileCard>

    <div *ngIf="cargando" class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let i of [1, 2, 3, 4, 6, 7, 8, 9]">
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 30px;"></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="!cargando">

      <ion-row class="ion-padding">
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color: goldenrod;">Añadir Nueva Guitarra</ion-card-title>
            </ion-card-header>
            <ion-card-content>

              <ion-list lines="full">
                <ion-item>
                  <ion-label position="floating">Nombre del Modelo</ion-label>
                  <ion-input [(ngModel)]="nuevaGuitarra.nombre" type="text" required name="nombre"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Estilo de Corte</ion-label>
                  <ion-input [(ngModel)]="nuevaGuitarra.corte" type="text" required name="corte"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Año de Lanzamiento</ion-label>
                  <ion-input [(ngModel)]="nuevaGuitarra.anio" type="number" required name="anio"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Imagen de la guitarra (url o foto)</ion-label>
                  <ion-input [(ngModel)]="nuevaGuitarra.imagen" ></ion-input>

                  <ion-button slot="end" fill="clear" (click)="tomarFotoGuitarra()">
                    <ion-icon name="camera-outline"></ion-icon>
                  </ion-button>
                </ion-item>

                <div *ngIf="nuevaGuitarra.imagen" class="ion-padding-start">
                  <img [src]="nuevaGuitarra.imagen" style="width: 100px; border-radius: 10px; margin-top: 10px;">
                </div>

                <ion-item lines="none" class="ion-margin-top">
                  <ion-toggle [(ngModel)]="nuevaGuitarra.enProduccion" labelPlacement="end" checked name="enProduccion">
                    En Producción
                  </ion-toggle>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Lugar de creación</ion-label>
                  <ion-input [(ngModel)]="nuevaGuitarra.ubicacionNombre" (ionBlur)="capturarCoordenadas()">
                  </ion-input>

                  <ion-icon slot="end" [name]="nuevaGuitarra.lat ? 'location' : 'location-outline'"
                    [color]="nuevaGuitarra.lat ? 'success' : 'medium'">
                  </ion-icon>
                </ion-item>

                <ion-note *ngIf="nuevaGuitarra.lat" color="success" style="margin-left: 15px; font-size: 0.8em;">
                  📍 GPS capturado: {{nuevaGuitarra.lat.toFixed(4)}}, {{nuevaGuitarra.lng?.toFixed(4)}}
                </ion-note>
              </ion-list>

              <ion-button expand="block" class="ion-margin-top" (click)="confirmarYAgregar()">
                Añadir Guitarra a la Lista
              </ion-button>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <hr>
        </ion-col>
      </ion-row>

      <ion-grid>
        <ion-row class="ion-padding-horizontal">
          <ion-col size="12" size-md="6" size-lg="4" *ngFor="let guitarra of listaDeGuitarras">

            <ion-card [color]="guitarra.enProduccion ? 'primary' : 'light'">
              <app-guitarra-item [guitarra]="guitarra"></app-guitarra-item>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
  </ion-grid>

</ion-content>